<list class="form">
    <!-- *ngIf -->
    <div class="title green">
        <h4>{{title}}</h4>
        <div class="pull-right">
            <a (click)="toggleConfigColumns()"><i class="fa fa-columns" data-toggle="tooltip" title="" data-original-title="Show / Hide Columns"></i></a>
            <a (click)="toggleFilters()"><i class="fa fa-filter" data-toggle="tooltip" title="Show / Hide Filters"></i></a>
            <a><i class="fa fa-plus" data-toggle="tooltip" title="Add New"></i></a>
            <a><i class="fa fa-download" data-toggle="tooltip" style="vertical-align: -1px" title="Export"></i></a>
        </div>
    </div>

    <div [class.hidden]="!isFiltersVisible">
    <ng-content select="[filters]"></ng-content>
    </div>

    <div style="overflow: auto;">
        <div class="form-col-2">
            <div>
                <div class="scroll-view">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td nowrap *ngFor="#col of columns" [class.hidden]="!(col.IsVisible || configMode)">
                                    <label [class.hidden]="!configMode">
                                        <input type="checkbox" [(ngModel)]="col.IsVisible">
                                        {{col.Name || col.Key}}
                                    </label>
                                    <label [class.hidden]="configMode" [class.pointer]="col.Sorting" (click)="sortClick(col.Key)">{{col.Name || col.Key}}</label>
                                    <i [class.hidden]="!(col.Sorting && (sortAsc === true))" class="fa fa-caret-up" style="margin-left:5px">1</i>
                                    <i [class.hidden]="!(col.Sorting && (sortAsc === false))" class="fa fa-caret-down" style="margin-left:5px; vertical-align: middle">2</i>
                                </td>
                                <td nowrap class="text-center">Actions</td>
                            </tr>
                        </thead>
                        <ng-content select="[body]"></ng-content>
                    </table>
                </div>
                <div class="col-md-12" style="border-top: 1px solid #f3f3f3; padding-top: 20px;">
                    <pagination *ngIf="paging"
                                [currentPage]="paging.ActivePage"
                                [itemsPerPage]="paging.ItemsPerPage"
                                [totalItems]="paging.TotalItemsCount"
                                [maxSize]="5"
                                (currentPageChange)="pageChanged()"
                                (itemsPerPageChange)="pageChanged()">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</list>