<div class="form" style="width: 50%; float:left">
    <div class="title green">
        <a [routerLink]="['SLAs']"><i class="fa fa-angle-double-left"></i></a>
        <h4>Create</h4>
    </div>
    <div class="form-col-2">
        <form *ngIf="active" (ngSubmit)="onSubmit()" #slaForm="ngForm">
            <section>
                <div>
                    <label for="type">Type</label>
                </div>
                <div>
                    {{model.type}}
                    <select class="form-control" [(ngModel)]="model.type" [enumType]="SLATypes" ngControl="type" #type="ngForm" required></select>
                    <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
                        Type is required
                    </div>
                </div>
            </section>
            <!--<section>
                <div>
                    <label for="type">Total Balance</label>
                </div>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="model.totalBalance" ngControl="totalBalance" #totalBalance="ngForm" required />
                    <div [hidden]="totalBalance.valid || totalBalance.pristine" class="alert alert-danger">
                        Total Balance is required
                    </div>
                </div>
            </section>-->
            <!--<section>
                <div>
                    <label for="type">Currency</label>
                </div>
                <div>
                    <select class="form-control" [(ngModel)]="model.currency" ngControl="currency" #currency="ngForm" required>
                        <option value="undefined">--</option>
                        <option value="GEL">GEL</option>
                        <option value="USD">USD</option>
                    </select>
                    <div [hidden]="currency.valid || currency.pristine" class="alert alert-danger">
                        Currency is required
                    </div>
                </div>
            </section>-->
            <section>
                <div>
                    <label for="type">State</label>
                </div>
                <div>
                    <select class="form-control" [(ngModel)]="model.state" [enumType]="SLAStates" ngControl="state" #state="ngForm" required disabled></select>
                    <div [hidden]="state.valid || state.pristine" class="alert alert-danger">
                        State is required
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <div style="width: 100%; text-align:right">
                    <input type="button" (click)="clear()" value="Clear" />
                    <input type="submit" [disabled]="!slaForm.form.valid" value="Submit" />
                </div>
            </section>
        </form>
    </div>
</div>