<div class="form" style="width: 60%">
    <div class="title green">
        <a [routerLink]="['List']"><i class="fa fa-angle-double-left"></i></a>
        <h4>ახალი კლიენტის შექმნა</h4>
        {{form.controls['UFE.IndividualEntity.PersonalId'] && form.controls['UFE.IndividualEntity.PersonalId'].valid}}
    </div>
    <div class="form-col-2">
        <form [ngFormModel]="form">
            <div>
                <p *ngIf="success">
                    Success!
                </p>
                <p *ngIf="fail">
                    Epic Fail!
                </p>
            </div>


            <field [title]="'კლიენტის ტიპი'" [errors]="form.controls['UFE.Customer.IsIndividual'].errors">
                <select ngControl="UFE.Customer.IsIndividual" (change)="change($event)">
                    <option value="">--</option>
                    <option value="False">იურიდიული პირი</option>
                    <option value="True">ფიზიკური პირი</option>
                </select>
            </field>

            <hr />
            <div *ngIf="form.controls['UFE.Customer.IsIndividual'].value == 'False'" ngControlGroup="legalEntity">
                <field [title]="'სრული სახელი'" [errors]="legalEntity.controls['UFE.Customer.FullName'].errors">
                    <input type="text" class="form-control" ngControl="UFE.Customer.FullName" />
                </field>
                <hr />
            </div>

            <div *ngIf="form.controls['UFE.Customer.IsIndividual'].value == 'True'" ngControlGroup="individualEntity">
                <field [title]="'პერსონალური იდენტიფიკატორი'" [errors]="individualEntity.controls['UFE.IndividualEntity.PersonalId'].errors">
                    <input type="text" class="form-control" ngControl="UFE.IndividualEntity.PersonalId" />
                </field>

                <field [title]="'სახელი'" [errors]="individualEntity.controls['UFE.IndividualEntity.Name'].errors">
                    <input type="text" class="form-control" ngControl="UFE.IndividualEntity.Name" />
                </field>

                <field [title]="'გვარი'" [errors]="individualEntity.controls['UFE.IndividualEntity.Surname'].errors">
                    <input type="text" class="form-control" ngControl="UFE.IndividualEntity.Surname" />
                </field>

                <field [title]="'თარიღი'" [errors]="individualEntity.controls['UFE.IndividualEntity.DateofIssue'].errors">
                    <input type="text" class="form-control" ngControl="UFE.IndividualEntity.DateofIssue" />
                </field>

                <field [title]="'ტიპი'" [errors]="individualEntity.controls['UFE.IndividualEntity.Type'].errors">
                    <select type="text" class="form-control" ngControl="UFE.IndividualEntity.Type">
                        <option value="">--</option>
                        <option value="0">არასამთავრობო მეწარმე</option>
                        <option value="1">ინდ. მეწარმე</option>
                        <option value="2">მეწარმე</option>
                        <option value="3">გადამხდელი</option>
                    </select>
                </field>

                <field [title]="'სახლის ტელეფონი'" [errors]="individualEntity.controls['UFE.Customer.Phone'].errors">
                    <input type="text" class="form-control" ngControl="UFE.Customer.Phone" />
                </field>
                <hr />
            </div>

            <field [title]="'განმცხადებლის იურიდიული ადგილმდებარეობა'" [errors]="form.controls['UFE.Customer.RegistrationLocationResid'].errors">
                <input type="text" class="form-control" ngControl="UFE.Customer.RegistrationLocationResid" />
            </field>

            <field [title]="'განმცხადებლის იურიდიული მისამართი (ქალაქის გარეშე, მხოლოდ ქუჩა, მასივი, კორპუსი, ბინა)'" [errors]="form.controls['UFE.Customer.RegistrationAddressResid'].errors">
                <input type="text" class="form-control" ngControl="UFE.Customer.RegistrationAddressResid" />
            </field>

            <field [title]="'განმცხადებლის ფაქტიური ადგილმდებარეობა'" [errors]="form.controls['UFE.Customer.ActualLocationResid'].errors">
                <input type="text" class="form-control" ngControl="UFE.Customer.ActualLocationResid" />
            </field>

            <field [title]="'განმცხადებლის ფაქტიური მისამართი  (ქალაქის გარეშე მხოლოდ ქუჩა, მასივი, კორპუსი, ბინა)'" [errors]="form.controls['UFE.Customer.ActualAddressResid'].errors">
                <input type="text" class="form-control" ngControl="UFE.Customer.ActualAddressResid" />
            </field>

            <hr>
            <section>
                <div style="width: 100%; text-align: right">
                    <input type="button" [disabled]="!form.valid || isSubmitting" (click)="submit()" [attr.value]="isSubmitting ? 'Saving...' : 'Save'" />
                </div>
            </section>

        </form>
    </div>
</div>