<div class="page-sidebar text-left">
    <!-- LOGO HEADER-->
    <div>
        <a class="logo">GDBS Angular 2</a>
    </div>
    <!-- END LOGO HEADER-->
    <div class="menu-wrapper">
    </div>

    <ul>

        <li>
            <a [routerLink]="['SLAs']">
                <i class="fa fa-briefcase"></i><span class="title">SLAs</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['ServiceAgreement']">
                <i class="fa fa-comment-o"></i><span class="title">Service Agreement</span>
            </a>
        </li>
    </ul>
</div>