<list [columns]="columns"
      [source]="items"
      [title]="'MeterPoint.Title' | translate"
      [id]="'MP'"
      [paging]="pagingConfig"
      
      [(configMode)]="configMode">
    <tbody body>
        <tr *ngFor="#item of items">
            <td nowrap *ngFor="#col of columns" [class.hidden]="!(col.IsVisible || configMode)">
                <a *ngIf="hasLink(col)" [routerLink]="col.LinkRoute.concat({ id: item[col.LinkItemKey] })">{{item[col.Key]}}</a>
                <span *ngIf="!hasLink(col)">{{item[col.Key]}}</span>
            </td>
            <td nowrap class="action-list text-center">
                <a [routerLink]="['/ServiceAgreement', 'Details', { id: item.Id }]"><i class="fa fa-mail-forward pointer" title="Details"></i></a>
            </td>
        </tr>
    </tbody>
</list>

<span style="color:red">aaaaaaaaaaa</span>

<!--(refreshData)="refreshData($event)"-->


<!--(onTestEvent)="onTestEvent()"-->