<detail class="form" *ngIf="SLA"> <!-- *ngIf -->
    <div class="title green">
        <a (click)="goBack()"><i class="fa fa-angle-double-left"></i></a>
        <h4>Details</h4>
    </div>
    <div class="form-col-2 col-1-1">
        <div>
            <label>id:</label> {{SLA.id}}
        </div>
        <br />
        <div>
            <label>Admin Number:</label> {{SLA.adminNumber}}
        </div>
        <br />
        <div>
            <label>Type:</label> {{SLA.type}}
        </div>
        <br />
        <div>
            <label>Total Balance:</label> {{SLA.totalBalance}}
        </div>
        <br />
        <div>
            <label>Currency:</label> {{SLA.currency}}
        </div>
        <br />
        <div>
            <label>State:</label> {{SLA.state}}
        </div>
    </div>
</detail>

