<div class="form" style="width: 50%; float:left">
    <div class="title green">
        <a [routerLink]="['SLAs']"><i class="fa fa-angle-double-left"></i></a>
        <h4>Create</h4>
    </div>
    <div class="form-col-2">
        <form *ngIf="active" [ngFormModel]="form">
            <section>
                <div>
                    <label for="type">Type</label>
                </div>
                <div>
                    <enumselect [enumType]="SLATypes" ngControl="type"></enumselect>
                    <div *ngIf="type.dirty && !type.valid">
                        <p *ngIf="type.errors.required">
                            Type is required
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <label for="totalBalance">Total Balance</label>
                </div>
                <div>
                    <input type="text" class="form-control" ngControl="totalBalance" />
                    <div *ngIf="totalBalance.dirty && !totalBalance.valid">
                        <p *ngIf="!totalBalance.errors.isNumber">
                            Total Balance must be a number
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <label for="currency">Currency</label>
                </div>
                <div>
                    <select class="form-control" ngControl="currency">
                        <option value="">--</option>
                        <option value="GEL">GEL</option>
                        <option value="USD">USD</option>
                    </select>
                </div>
            </section>
            <section>
                <div>
                    <label for="state">State</label>
                </div>
                <div>
                    <enumselect [enumType]="SLAStates" [disabled]="true" ngControl="state"></enumselect>
                    <div *ngIf="state.dirty && !state.valid">
                        <p *ngIf="type.errors.required">
                            State is required
                        </p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <div style="width: 100%; text-align:right">
                    <input type="button" (click)="clear()" value="Clear" />
                    <input type="button" [disabled]="!form.valid" (click)="submit()" value="Submit" />
                </div>
            </section>
        </form>
    </div>
</div>